#track-editor {
    position: absolute;
    z-index: 100;
}

#options-menu {
    flex-direction: column;
}

#update-btn {
    height: 20px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
}

#edit-btn, #delete-btn {
    height: 70%;
}

button {
    height: 20px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
}

.track-info{
    margin-left: 10px;
}

img {
    height: 80px;
    width: 80px;
    margin-left: 20px;
}

.track-content {
    position: absolute;
}