#tracklist-container {
    display: flex;
    justify-content: flex-start;

    flex-direction: column;
    height: 76vh;
    width: 40vw;
    margin-top: 20px;
    margin-left: 27px;
    border-radius: 20px;
    background-color: rgb(26, 26, 26);

    overflow: auto;
}

.track {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100px;
    width: 36vw;
    margin-top: 10px;
    background-color: rgb(180, 0, 0);
    border-radius: 15px;
}