#add-stuff {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

#submit-btn {
    width: 200px;
    height: 80px;
    border-color: red;
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 200%;
    border-width: 3px;
    border-radius: 20px;
    margin-top: 10px;
}

.track-entry {
    height: 25px;
    width: 37vw;
    border-radius: 20px;
    margin-top: 10px;
}

