header {
    display: flex;
    justify-content: center;
}

#title-bar{
    display: flex;
    color: white;
    background-color: red;
    justify-content: center;
    border: 10px;
    width: 96vw;
    border-radius: 20px;
}