body {
  background-color: rgb(49, 49, 49);
}

#main-container {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  position: relative;
  margin-top: 10px;
  height: 80vh;
  width: 90vw;
  border-radius: 30px;
  border-style: outset;
  border-color: gray;
  background-color: #3C4043;
}